/*
 * Copyright CIB software GmbH and/or licensed to CIB software GmbH
 * under one or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information regarding copyright
 * ownership. CIB software licenses this file to you under the Apache License,
 * Version 2.0; you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, sans-serif !default;
$font-family-monospace: SFMono, Menlo,  Segoe UI Mono, Roboto Mono, Courier New, monospace !default;
$font-size-base: 0.875rem !default;
$h1-font-size: $font-size-base * 2.5714285714285716 !default;
$h2-font-size: $font-size-base * 2.142857142857143 !default;
$h3-font-size: $font-size-base * 1.7142857142857142 !default;
$h4-font-size: $font-size-base * 1.4285714285714286 !default;
$h5-font-size: $font-size-base * 1.1428571428571428 !default;
$h6-font-size: $font-size-base * 1 !default;
$white: #fff !default;
$dropdown-border-color: $white !default;
$gray-100: #F5F8FA !default;
$gray-200: #F0F4F7 !default;
$gray-300: #E9F0F7 !default;
$gray-400: #DFE7F0 !default;
$gray-500: #CCD7E4 !default;
$gray-600: #C1CEDD !default;
$gray-650: #8092A6 !default;
$gray-700: #617891 !default;
$gray-800: #4D6278 !default;
$gray-900: #0F2133 !default;

$dropdown-divider-bg: $gray-600 !default;
$input-focus-border-color: $gray-900 !default;
$input-focus-box-shadow: none !default;
$input-color: $gray-900 !default;
$input-disabled-bg: $gray-300 !default;
$input-border-color: $gray-650 !default;
$input-placeholder-color: $gray-700 !default;
$input-group-addon-bg: #ffffff !default;
$border-radius: .25rem !default;
$form-check-border-radius: $border-radius !default;
$input-bg: $white !default;
$breadcrumb-bg: $input-bg !default;
$breadcrumb-divider: ">" !default;
$breadcrumb-divider-color: $gray-800 !default;
$progress-bg: $gray-400 !default;
$border-width: 1px !default;
$pagination-color: $gray-700 !default;
$pagination-hover-color: $gray-900 !default;
$pagination-hover-bg: $gray-200 !default;
$tooltip-bg: $gray-900 !default;
$tooltip-font-size: 19px !default;
$table-hover-bg: $gray-400 !default;
$table-striped-bg: $gray-200 !default;
$table-border-color: $gray-600 !default;
$table-head-bg: $gray-100 !default;
$table-head-color: $gray-900 !default;
$popover-header-bg: $white !default;
$nav-tabs-link-active-color: $gray-900 !default;
$list-group-action-color: $gray-900 !default;
$pagination-border-color: rgba(0, 0, 0, 0) !default;
$pagination-disabled-border-color: rgba(0, 0, 0, 0) !default;
$form-select-disabled-color: $gray-900 !default;
$form-select-disabled-bg: $gray-300 !default;
$yellow: #f8a81b !default;
$table-active-bg: $gray-200 !default;
$breadcrumb-active-color: $gray-900 !default;
$card-cap-bg: $gray-400 !default;
$card-border-color: $gray-600 !default;
$border-color: $gray-500 !default;
$component-active-bg: $white !default;
$nav-tabs-border-color: $gray-600 !default;
$pagination-active-bg: $primary !default;
$list-group-border-color: $gray-600 !default;
$modal-content-border-color: $gray-600 !default;
$modal-header-padding-y: 0.8rem !default;
$btn-close-color: $gray-900 !default;
$btn-close-opacity: 0.75 !default;
$btn-font-weight: 500 !default;
$form-check-input-checked-bg-color: $primary !default;
$nav-pills-link-active-color: $gray-900 !default;
$list-group-active-color: $gray-900 !default;
$list-group-active-bg: $gray-200 !default;
$list-group-active-border-color: $gray-500 !default;
$dropdown-link-active-color: $gray-900 !default;
$dropdown-link-active-bg: $gray-300 !default;
$alert-border-radius: 0.5rem !default;
$alert-border-width: 0.1rem !default;
$toast-color: $gray-900 !default;
$toast-background-color: rgba($success, 0.1) !default;
$toast-border-color: $gray-400 !default;
$toast-border-radius: 0.3rem !default;
$toast-header-color: rgb(15, 33, 51) !default;
$toast-header-background-color: rgba($success, .30) !default;
$toast-header-border-color: rgba(0, 0, 0, 0) !default;
$dropdown-box-shadow: rgba(15, 33, 51, 0.25) 0px 1px 4px !default;
$link-color: $gray-800 !default;
$form-select-box-shadow: none !default;
$link-decoration: underline !default;
$link-hover-color: $gray-800 !default;
$nav-tabs-link-hover-border-color: $gray-500 $gray-500 $nav-tabs-border-color !default;
//$nav-tabs-link-active-border-color: $primary $gray-500 $nav-tabs-link-active-bg;
$btn-disabled-opacity: .30 !default;
$form-feedback-valid-color: $success !default;
$form-feedback-invalid-color: $danger !default;
$form-feedback-icon-valid-color: $success !default;
$form-feedback-icon-invalid-color: $danger !default;
$enable-shadows: true !default;

//new:
$form-check-input-border: $gray-650 !default;
$form-check-input-disabled-bg: $gray-300 !default;
$form-check-label-disabled-color: $gray-650 !default;
$link-hover-decoration: none !default;
$blockquote-small-color: $gray-700 !default;
$nav-tabs-link-active-border-color: $gray-600 $gray-600 $white !default;

// Additional overrides:
$body-secondary-color: $gray-700 !default;
$nav-link-padding-y: 0 !default;
$nav-link-padding-x: 1rem !default;
$btn-light-bg: $white !default;
$btn-light-hover-bg: $gray-400 !default;
$alert-bg-scale: 0% !default;

// Badge for number of tasks in tasklist
$badge-font-size: 0.8em !default;
